<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link href="../../css/order/order.css" rel="stylesheet" />
		<link href="../../css/common/common.css" rel="stylesheet" />
		<style type="text/css">
			.mui-bar .mui-btn-link {
				/*重写mui返回键颜色*/
				color: black;
			}
			
			.mui-btn-link.mui-active:enabled,
			.mui-btn-link:enabled:active {
				/*重写mui返回键点击颜色*/
				color: #666666;
			}
		</style>
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav" style="background-color: white;">
			<button type="button" class="mui-left mui-btn mui-action-back mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-arrowleft"></span>
				</button>
			<h1 class="mui-title">收货地址</h1>
		</header>
		<div class="mui-content" style="background-color: white;">
			<div id="address_list">
				<ul class="mui-table-view table_view_mt" v-for=" list in address_list">
					<li class="mui-table-view-cell mui-media">
						<div class="mui-media-body" onclick="choose_new_address();">
							<p class="order_left" v-text="list.name"></p>
							<p class="order_right" v-text="list.phone"> </p>
							<p class="default_address_info" v-text="list.address +''+list.address_detail"></p>
						</div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<div class="mui-media-body">
							<div class="address_left" @tap="set_default_address(list.id);">
								<span class="default_address_icon" v-if="list.default_address == 1"></span>
								<span class="not_default_address_icon" v-else></span>设置默认地址
							</div>
							<div class="address_right">
								<a class="edit_address_btn" href="javascript:;" @tap="edit_address(list.id);">
									<span class="mui-icon mui-icon-compose"></span>编辑
								</a>
								<a class="del_address_btn" href="javascript:;" @tap="del_address(list.id);">
									<span class="mui-icon mui-icon-trash"></span>删除
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="mui-content-padded">
				<button type="button" class="btn-radius-25 btn_login " onclick="add_address();">新建收货地址</button>
			</div>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.help.js"></script>
		<script src="../../js/common/global.js"></script>
		<script src="../../js/common/vue.min.js"></script>
		<script src="../../js/common/Config.js"></script>
		<script src="../../js/crypto/crypto-js.js"></script>
		<script src="../../js/common/util.js"></script>
		<script src="../../js/mine/mine.js"></script>
		<script src="../../js/address/address.js"></script>
		<script type="text/javascript">
			mui.init();
			mui_plusReady(function() {
				appClosePageById('address');
				appClosePageById('confirm');
				get_address_list();
			});
		</script>
	</body>

</html>