{template 'header'}
<link rel="stylesheet" type="text/css" href="../addons/purchasing/static/css/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="../addons/purchasing/static/js/bootstrap-datetimepicker.min.js"></script>
<style type="text/css">

	.table>tbody>tr>td{border: 0;font-size: 3vh;font-weight: 600;line-height: normal;padding: 0 1vw;}
</style>
<div class="col-xs-12">
<!--  2019-02-23  PBH写-->
<form action="" method="get" class="form-horizontal" role="form">
	<div class="form-group" >
		日期:
		<input type="text" name="date" id="date" readonly="readonly" value="{$date}" style="background: url(../addons/purchasing/static/images/date.jpg) no-repeat;background-position: right;background-size: auto 100%;width: 60%">
		<input type="hidden" name="c" value="entry">
		<input type="hidden" name="i"    value="{$_GPC['i']}">
		<input type="hidden" name="do" value="reward">
		<input type="hidden" name="m" value="manji">
		<input type="submit" name="submit" value="搜索" class="btn btn-info" style="font-size: 100%">
	</div>
</form>
<!--  之前别人写的于2019-02-23 -->
<!--<form action="" method="get" class="form-horizontal" role="form">
	<input type="hidden" name="c" value="entry">
	<input type="hidden" name="i" value="{$_GPC['i']}">
	<input type="hidden" name="m" value="manji">
	<input type="hidden" name="do" value="reward">
	<div class="form-group">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-11 ">
			日期
			<input type="text" name="date" id="date" value="{$date}" style="width: 200px;border: 1px solid #ccc;background: url(../addons/purchasing/static/images/date.jpg) no-repeat;background-position: right;background-size: auto 100%;" readonly="readonly">
			<input type="submit" name="submit" value="搜索" class="btn btn-info" style="font-size: 100%">
		</div>
	</div>
</form> -->
</div>
<div class="col-xs-12" style="max-height: 80vh;overflow-y: auto;">
{loop $list $item}
	<table class="table">
		<tr><td colspan="2">{$item['nickname']}<input type="hidden" name="period_id" value="{$item['id']}"></td></tr>
		<tr>
			<td style="width: 5vw;">1st</td>
			<td><span>{$item['first_no']}</span></td>
		</tr>
		<tr>
			<td style="width: 5vw;">2nd</td>
			<td><span>{$item['second_no']}</span></td>
		</tr>
		<tr>
			<td style="width: 5vw;">3rd</td>
			<td><span>{$item['third_no']}</span></td>
		</tr>
		<tr>
			<td style="width: 5vw;">4th</td>
			<td>
				{loop $item['special_no'] $k $sp}
				<span>{$sp}</span>&nbsp;&nbsp;
				{/loop}
			</td>
		</tr>
		<tr>
			<td style="width: 5vw;">5th</td>
			<td>
				{loop $item['consolation_no'] $l $con}
				<span>{$con}</span>&nbsp;&nbsp;
				{/loop}
			</td>
		</tr>
		{if !empty($item['5D'])}
		{php $D5_title=array('1st','2nd','3rd','4th','5th','6th')}
		<tr>
			<td colspan="2">5D成绩</td>
		</tr>
		{loop $item['5D'] $i $d}
		<tr>
			<td style="width: 5vw;">{$D5_title[$i]}</td>
			<td><span>{$d}</span></td>
		</tr>
		{/loop}
		{/if}
		{if $item['has_6D'] == 1}
		<tr>
			<td style="width: 5vw;">6D成绩</td>
			<td>
				<span>{$item['6D']}</span>
			</td>
		</tr>
		{/if}
	</table>
{/loop}
</div>
<script type="text/javascript">
	var obj = [];
	var sdate = '2018-07-04';
	$.fn.datetimepicker.dates['zdy'] = {
        days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
        daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
        daysMin:  ["日", "一", "二", "三", "四", "五", "六"],
        months: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
        monthsShort: ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
        today: "今天",
        format:"yyyy-mm-dd",
        titleFormat:"yyyy-mm-",
        weekStart:1,
        suffix: [],
        meridiem: ["上午", "下午"]
      };
      $('#date').datetimepicker({
        language:  'zdy',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        startDate:sdate,
        minView:2,
        maxView:3,
        onRenderDay: function(date) {
          var date1 = date.getFullYear()+'-'
            +(date.getMonth()<9?'0'+(date.getMonth()+1):date.getMonth()+1)
            +'-'
            +(date.getDate()<10?'0'+(date.getDate()-1):date.getDate()-1);

        }
      })
</script>