<td>安慰奖</td>
<td>B</td>
<td>
	<input type="text" name="odds[B][]" value="{php echo $odds['odds_B'][4]?$odds['odds_B'][4]:0}" class="odds_b">
</td>
<td></td>
<td></td>
<td>C5</td>
<td>
	<input type="text" name="odds[C5][]" value="{php echo $odds['odds_C5'][0]?$odds['odds_C5'][0]:0}" class="odds_a">
</td>
<td></td>
<td></td>
<td>4E</td>
<td>
	<input type="text" name="odds[4E][]" value="{php echo $odds['odds_4E'][0]?$odds['odds_4E'][0]:0}" class="odds_4a">
</td>
<td></td>
<td></td>
<td>2E</td>
<td>
	<input type="text" name="odds[2E][]" value="{php echo $odds['odds_2E'][0]?$odds['odds_2E'][0]:0}" class="odds_2a">
</td>
<td></td>
<td></td>