<td>二奖</td>
<td>B</td>
<td>
	<input type="text" name="odds[B][]" value="{php echo $odds['odds_B'][1]?$odds['odds_B'][1]:0}" class="odds_b">
</td>
<td>S</td>
<td>
	<input type="text" name="odds[S][]" value="{php echo $odds['odds_S'][1]?$odds['odds_S'][1]:0}" class="odds_s">
</td>
<td>C2</td>
<td>
	<input type="text" name="odds[C2][]" value="{php echo $odds['odds_C2'][0]?$odds['odds_C2'][0]:0}" class="odds_a">
</td>
<td>3ABC</td>
<td>
	<input type="text" name="odds[3ABC][]" value="{php echo $odds['odds_3ABC'][1]?$odds['odds_3ABC'][1]:0}" class="odds_3abc">
</td>
<td>4B</td>
<td>
	<input type="text" name="odds[4B][]" value="{php echo $odds['odds_4B'][0]?$odds['odds_4B'][0]:0}" class="odds_4a">
</td>
<td>4AC</td>
<td>
	<input type="text" name="odds[4ABC][]" value="{php echo $odds['odds_4ABC'][1]?$odds['odds_4ABC'][1]:0}" class="odds_4abc">
</td>
<td>2B</td>
<td>
	<input type="text" name="odds[2B][]" value="{php echo $odds['odds_2B'][0]?$odds['odds_2B'][0]:0}" class="odds_2a">
</td>
<td>2ABC</td>
<td>
	<input type="text" name="odds[2ABC][]" value="{php echo $odds['odds_2ABC'][1]?$odds['odds_2ABC'][1]:0}" class="odds_2abc">
</td>