
.deal-section{ width: 100%;}
.dealinfor dl{ 
 	font:4vw "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1"; 
}
.dealinfor dt{ 
	color:#999; 
	display: block;
	width: 100%;
	margin-bottom: 3vw;
}

 
 .dealinfor dd{  
	display: block;
	width: 100%;
	margin: 0;
}

.dealinfor .sku dl{
	width:100%;
 	display: block;
}	
 
 .options-item  {
 	margin: 0;
 	-webkit-padding-start:0;
 }
.options-item li{ 
	margin:0 10px 8px 0;
	list-style: none;
	display: inline-block;
}

.options-item li span{ 
	display:inline-block;
    height: 10vw; 
	padding:0 10px;  
	white-space:nowrap; 
	border:1px solid #d9d9d9; 
	color:#999; 
	line-height:10vw;
	cursor:pointer;
}
.options-item li:hover span,.options-item .current span{ 
	padding:0 10px;  
	line-height:10vw;
	border:1px solid #ef4035;
}
.options-item li .disabled,.options-item li:hover .disabled{
	padding:0 10px;
	height:10vw; 
	line-height:10vw; 
	border:1px dashed #d9d9d9; 
	cursor:not-allowed;
}
 
 /*
.options-item i{ display:none; position:relative; right:2px; bottom:2px; width:10px; height:10px;  }
.options-item .current i{ display:block;}
.options-item i{ background:url(../images/detail.png) no-repeat;} 
*/

 